<div class="content">
<small>
    <i>
Please read these terms and conditions carefully before using this website.
</i>
</small>

<h1>
WHAT'S IN THESE TERMS?
</h1>
<p>
These terms tell you the rules for using our website https://bluestag.co.uk/ (our site).
</p>

<h1>
WHO ARE WE AND HOW TO CONTACT US
</h1>
<p>
https://bluestag.co.uk/ is a site operated by Blue Stag Studio Limited (“We”). We are registered in England and Wales under company number 06613946 and have our registered office at:

Tramshed Tech,
Pendyris Street,
Cardiff,
CF11 6BH

We are a limited company. To contact us, please email hi@bluestag.co.uk
</p>

<h1>
BY USING OUR SITE YOU ACCEPT THESE TERMS
</h1>
<p>
By using our site, you confirm that you accept these terms of use and that you agree to comply with them.
<br>
If you do not agree to these terms, you must not use our site.
<br><br>
We recommend that you print a copy of these terms for future reference.
</p>

<h1>
THERE ARE OTHER TERMS THAT MAY APPLY TO YOU
</h1>
<p>
These terms of use refer to the following additional terms, which also apply to your use of our site:
<br><br>
Our Privacy Policy, which sets out the terms on which we process any personal data we collect from you, or that you provide to us. By using our site, you consent to such processing and you warrant that all data provided by you is accurate.
<br><br>
Our Cookie Policy, which sets out information about the cookies on our site.
</p>

<h1>
WE MAY MAKE CHANGES TO THESE TERMS
</h1>
<p>
We amend these terms from time to time. Every time you wish to use our site, please check these terms to ensure you understand the terms that apply at that time.
</p>

<h1>
WE MAY MAKE CHANGES TO OUR SITE
</h1>
<p>
We may update and change our site from time to time, to reflect changes to our campaign, our users’ needs and our business priorities. We will try to give you reasonable notice of any major changes.
</p>

<h1>
WE MAY SUSPEND OR WITHDRAW OUR SITE
</h1>
<p>
Our site is made available free of charge.
<br><br>
We do not guarantee that our site, or any content on it, will always be available or be uninterrupted. We may suspend or withdraw or restrict the availability of all or any part of our site for business and operational reasons. We will try to give you reasonable notice of any suspension or withdrawal.
<br><br>
You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms of use and other applicable terms and conditions and that they comply with them.
</p>

<h1>
HOW YOU MAY USE MATERIAL ON OUR SITE
</h1>
<p>
We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.
<br><br>
You may print off one copy and may download extracts, of any page(s) from our site for your personal use and you may draw the attention of others within your organisation to content posted on our site.
<br><br>
You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.
<br><br>
Our status (and that of any identified contributors) as the authors of content on our site must always be acknowledged.
<br><br>
You must not use any part of the content on our site for commercial purposes without obtaining a license to do so from us or our licensors.
<br><br>
If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.
</p>

<h1>
DO NOT RELY ON INFORMATION ON THIS SITE
</h1>
<p>
The content on our site is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on our site.
<br><br>
Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or implied, that the content on our site is accurate, complete or up to date.
</p>

<h1>
WE ARE NOT RESPONSIBLE FOR WEBSITES WE LINK TO
</h1>
<p>
Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. Such links should not be interpreted as approval by us of those linked websites or information you may obtain from them.
<br><br>
We have no control over the contents of those sites or resources.
</p>

<h1>
OUR RESPONSIBILITY FOR LOSS OR DAMAGE SUFFERED BY YOU
</h1>
<p>
We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes liability for death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors and for fraud or fraudulent misrepresentation.
<br><br>
If defective digital content that we have supplied, damages a device or digital content belonging to you and this is caused by our failure to use reasonable care and skill, we will either repair the damage or pay you compensation.
</p>

<h1>
WE ARE NOT RESPONSIBLE FOR VIRUSES AND YOU MUST NOT INTRODUCE THEM
</h1>
<p>
We do not guarantee that our site will be secure or free from bugs or viruses.
<br><br>
You are responsible for configuring your information technology, computer programmes and platform to access our site. You should use your own virus protection software.
<br><br>
You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of-service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will cooperate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.
</p>

<h1>
RULES ABOUT LINKING TO OUR SITE
</h1>
<p>
You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it.
<br><br>
You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.
<br><br>
You must not establish a link to our site in any website that is not owned by you.
<br><br>
Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page. We reserve the right to withdraw linking permission without notice.
<br><br>
If you wish to link to or make any use of the content on our site other than that set out above, please contact hi@bluestag.co.uk.
</p>

<h1>
WHICH COUNTRY'S LAWS APPLY TO ANY DISPUTES?
</h1>
<P>
These terms of use, their subject matter and their formation, are governed by English law. You and we both agree that the courts of England and Wales will have exclusive jurisdiction except that if you are a resident of Northern Ireland you may also bring proceedings in Northern Ireland, and if you are resident of Scotland, you may also bring proceedings in Scotland.
</P>

<P>

    Version 1
    September 2022
</P>
</div>