<div class="content">
<h1>
Information about our use of cookies
</h1>
<p>
Our website (https://bluestag.co.uk/) uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. By continuing to browse the site, you are agreeing to our use of cookies.
</p>
<p>
A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer’s hard drive.
</p>
<p>
We use the following cookies:
</p>
<ul>
    <li>
        Strictly necessary cookies. These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use of e-billing services.
    </li>
    <li>
        Analytical/performance cookies. They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.
    </li>
    <li>
    Functionality cookies. These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).
    </li>
    <li>
    Targeting cookies. These cookies record your visit to our website, the pages you have visited and the links you have followed. We will use this information to make our website and the advertising displayed on it more relevant to your interests. We may also share this information with third parties for this purpose.
    </li>
</ul>

<p>
You can find more information about the individual cookies we use and the purposes for which we use them in the table below:
Name 	Expires 	Purpose
_ga 	2 years 	Used to distinguish users
_gid 	24 hours 	Used to distinguish users
_gat 	1 minute 	Used to distinguish users
AMP_TOKEN 	30 seconds to 1 year 	Contains a token that can be used to retrieve a Client ID from AMP Client ID service. Other possible values indicate opt-out, inflight request or an error retrieving a Client ID from AMP Client ID service.
_gac_ 	90 days 	Contains campaign related information for the user. If you have linked your Google Analytics and AdWords accounts, AdWords website conversion tags will read this cookie unless you opt-out. More Info
</p>
<p>
Please note that third parties (including, for example, advertising networks and providers of external services like web traffic analysis services) may also use cookies, over which we have no control. These cookies are likely to be analytical/performance cookies or targeting cookies.
</p>
<p>
You block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our site.
</p>
<p>
Except for essential cookies, all cookies will expire upon ending your session on this website.
</p>
<p>
Version 1
September 2022
</p>
</div>