
<div class="watermark" [ngClass]="{titledark: darkmode === true, titlelight: darkmode === false}" unselectable="on">
  <div class="one" onselectstart="return false">
  PREDICT
</div>
  <div class="two" onselectstart="return false">
  -O-
</div>
  <div class="three" onselectstart="return false">
  MATIC
</div>
</div>
  <div [ngClass]="{bgdark: darkmode === true}">  
    <div class="main"> 
        <div class="basecontainer"> 
          <div class="header" [ngClass]="{dark: darkmode === true, light: darkmode===false}">
            <app-header></app-header>
          </div>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div> 
</div>