<div class="asset" [ngClass]="{assethighlight: display === true, dark: darkmode === true, light: darkmode===false}">
    <div (click)="onPress()"  class="assetRow" [ngClass]="{highlight: display === true, dark: darkmode === true, light: darkmode===false}">
        <div class="assetData">
            <div class="assetName">
                <i *ngIf="asset.current_prediction > 0" class="fas fa-arrow-circle-up arrow glow-up big-arrow" title="price is likely to rise"></i>
                <i *ngIf="asset.current_prediction == 0" class="fas fa-arrow-circle-down arrow glow-down big-arrow" title="price is likely to fall"></i> 
                
                {{ asset.name }} 
                <div class="assetSmall" id="ticker">({{asset.platformsymbol}})</div>
                
            </div>
            <!--
            <div class="assetDirection">            
                 <div class="assetSmall" title="model consensus">
                    {{consensus}}/{{totalconsensus}}
                </div>
            </div>
            -->
            <div class="assetDirection">            
                <div id="price" title="model consensus">
                    <div class="assetSmall">
                   last close: $11,232.35
                    </div>
               </div>
           </div>

            <div class="assetTimeframe">
                <div class="assetSmall">
                {{ asset.prediction_term | date : 'M/d/yy - H:00'}}
                </div>
            </div>
        </div>
        <div class="assetTachometers">
            <div class="assetTachometer" title="hit ratio"> <!--hit ratio-->
                <app-chart [data]="asset!.predictions_correct/asset!.predictions_total*100"></app-chart>
            </div>
            <div class="assetTachometer" title="prediction score"> <!--prediction score-->
                <app-chart [data]="((asset!.accuracy*50)+(asset!.predictions_correct/asset!.predictions_total*50))"></app-chart>

            </div>
            <div class="assetTachometer" title="sentiment">
                <app-chart [data]="asset!.sentiment*100"></app-chart>
            </div>
        </div>
    </div>
    
    <div id="comp-render" *ngIf="display">
        <app-details [models]="asset.models"></app-details>
    </div>
</div>