
<!--
<div class="details">
    
    <div class="detail" *ngFor="let item of models;">
        <div class="detail-left-row">
            <div>{{item.name}}</div>
            <div>Accuracy</div>
            <div>Hit ratio</div>
        </div>   
        <div class="detail-right-row">
            <div>
                <i *ngIf="item.prediction > 0" class="fas fa-arrow-circle-up glow-up"></i>
                <i *ngIf="item.prediction == 0" class="fas fa-arrow-circle-down glow-down"></i> 
            </div>
            <div>{{(item.accuracy*100).toFixed(0)}} %</div>
            <div>{{item.predictions_correct}}/{{item.predictions_total}}

            </div>
    </div>
</div>
-->

<div class="details">
    
    <div class="detail">
        <div class="detail-left-row">

<div class="detailRows">
    <div class="detailRow" id="detailRowTitle">
        <div class="detailName">
            <b>model</b>
        </div>
        <div class="detailDirection">            
            <b>prediction</b>
        </div>
        <div class="detailAccuracy" title="current model accuracy"> <!--prediction score-->
            <b>score</b>*
        </div>
        <div class="detailHitRatio" title="predicted correct / total number of predictions made"> <!--hit ratio-->
            <b>hit ratio</b>*
        </div>
        <div class="detailDate" title="last parameter tuning">
            <b>last tuning</b>*
        </div>
    </div>

    <div class="detailRow" *ngFor="let item of models;">
        <div class="detailName">
            {{ item.name }}
        </div>
        <div class="detailDirection">            
            <i *ngIf="item.prediction > 0" class="fas fa-arrow-circle-up arrow glow-up"></i>
            <i *ngIf="item.prediction == 0" class="fas fa-arrow-circle-down arrow glow-down"></i> 
        </div>
        <div class="detailAccuracy" title="accuracy"> <!--prediction score-->
            {{ (item!.accuracy*100).toFixed(0) }}%
        </div>
        <div class="detailHitRatio" title="hit ratio"> <!--hit ratio-->
            {{item.predictions_correct}}/{{item.predictions_total}}
        </div>
        <div class="detailDate" title="last parameter tuning">
            {{item.last_updated  | date : 'M/d/yy - H:mm'}}
        </div>
    </div>
</div>


</div>
</div>
</div>