* {
    font-family:"Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(
        rgba(125, 31, 31, 0.2), rgba(255, 228, 228, 0.2), rgba(190, 143, 143, 0.2),rgba(125, 31, 31, 0.2));
    background-color: #000;
}
.watermark{
    position: absolute;
    width:100%;
    max-height: 100vh;
    font-size: 25em;
    overflow:hidden;
    font-weight: 900;
    display:block;
}
.titledark{
    color: rgba(255, 228, 228, 0.03);
    text-shadow: 0 0 6px rgba(255, 228, 228, 0.03);
}
.titlelight{
    color: rgba(86, 40, 40, 0.04);
    text-shadow: 0 0 6px rgba(86, 40, 40, 0.04);
}
.one{
    cursor: default;
    position: fixed;
    left: -2%;
    top: -5%;
}
.two{
    cursor: default;
    position: fixed;
    font-size: 1.6em;
    top: 35%;
    left: -15%;
}
.three{
    cursor: default;
    position: fixed;
    top: 35%;
    font-size: 1.5em;
    left: 50%;
}
.main{
    max-width:100vw;
    display: block;
}

.bgdark{
    background-image: linear-gradient(
        rgb(2, 3, 12), rgb(35, 43, 54), rgb(13, 15, 30), rgb(2, 3, 12));
     height: 100vh;
     color: #f2f7f2;
     transition: .4s;
}
.basecontainer{
    display: block;
    width: 100%;   
}

.header{
    z-index: 1;
    display: block;
    position: fixed;
    width: 100%;
    min-height: fit-content;
    padding-left: 15%;
    padding-right: 15%;
    transition: 0.4s;
}
.header.light{
    color: rgba(242, 247, 242, 1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    background-color: rgba(46, 0, 0, 0.4);
    border: 1px solid rgba(46, 0, 0, 0.125);
    transition: .4s;
}
.header.dark{
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: .4s;
}
.hero{
    padding:10px;
    display: block;
}
.addbanner{
    height: 120px;
    width: 360px;
    min-width: 360px;
    background-color: rgba(255, 255, 255, 0.12);
}

.content{
    padding: 0px;
    padding-top:160px;
    padding-bottom: 158px;
    position: fixed;
    margin-left: 15%;
    margin-right: 15%;
    display: block;
    width: 70%;
    height: 100%;
    min-height: 100vh; 
    overflow-x: auto;
    scrollbar-width: thin;
}
.content.light{
    backdrop-filter: blur(14px) saturate(93%);
    -webkit-backdrop-filter: blur(14px) saturate(93%);
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(46, 0, 0, 0.1);
    transition: .4s;
}
.content.dark{
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    background-color: rgba(255, 255, 255, 0.12);
    transition: .4s;
    border: 0px;
}
.contentHeader{
    padding: 0px;
    margin-top:141px;
    position: fixed;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: fit-content;
    font-size: 0.8em;
}

.contentHeader .asset{
    margin-right: 10px;
}

.contentHeader .asset .assetRow{
    padding-right: 10px;
}



.contentHeader.light{
    backdrop-filter: blur(14px) saturate(93%);
    -webkit-backdrop-filter: blur(14px) saturate(93%);
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(46, 0, 0, 0.1);
    transition: .4s;
}
.contentHeader.dark{
    background-color: rgb(242, 247, 242,0.75);
    color:rgba(2, 3, 12, 0.7);
    transition: .4s;
}
.footer{
    z-index: 1;
    display: flex;
    position: fixed;
    width: 100%;
    height: fit-content;
    padding-left: 15%;
    padding-right: 15%;
    bottom: 0;
    font-size: 0.75em;
}
.footer.light{
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    background-color: rgba(46, 0, 0, 0.4);
    border: 1px solid rgba(46, 0, 0, 0.125);
}
.footer.dark{
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: .4s;
}
.big-arrow{
    font-size:1.2em;
    padding:0px 10px 0px 0px !important;
}

.asset.light{
    border-bottom: 1px solid rgba(4, 0, 0, 0.15);
    transition: .4s;
}
.asset.dark{
    border-bottom: 1px solid hsla(120, 24%, 96%, 0.5);
    transition: .4s;
}
.asset.light:hover{ 
    background: linear-gradient(rgba(46,0,0,0)0%, rgba(46,0,0,0.075)50%, rgba(46,0,0,0.15)100%);
    transition: .4s;
}
.asset.dark:hover{ 
    background: linear-gradient(rgba(242, 247, 242, 0)0%,rgba(242, 247, 242, 0.1)50%,rgba(242, 247, 242, 0.15)100%);
    transition: .4s;
}

.assetRow{ 
    padding: 0px 10px 0px 0px;
    height: fit-content;
    display:flex;
    justify-content:space-between;
    width: 100%;
    font-size: 1.5em;
    min-width: fit-content;
    scrollbar-width: thin;
    cursor: pointer;
    transition: 0.4s;
}
.assetRow *{
    justify-content:center;
}
.assetData{
    justify-content:space-between;
    display: flex;
    width:60%;
    padding-left:10px;
}
.assetData *{
    justify-content:center;
}
.assetTachometers{
    justify-content:space-between;
    display: flex;
    width:40%;
}
.assetTachometers *{
    justify-content:center;
}

.assetName{
    transition: 0.4s;
    width:275px;
    min-width:50px;
    display: flex;
    align-self: center;
    justify-content: flex-start;
}
.assetTimeframe{
    padding:0px 5px;
    min-width: fit-content;
    transition: 0.4s;
    display: flex;
    min-width:20%;
    max-width: 30%;
    align-self: center;
    justify-content:start;
}
.assetDirection{
    padding:0px 5px;
    min-width: fit-content;
    transition: 0.4s;
    display: flex;
    width:15%;
    align-self: center;
    justify-content:center;
}
.assetPrice{
    padding:0px 5px;
    max-width: 30%;
    transition: 0.4s;
    display: flex;
    min-width:30%;
    align-self: center;
    justify-content:flex-start;
}
.assetSmall{
    align-self: center;
    justify-content:center;
    font-size: 0.65em;
    padding-left: 5px;
}

.assetTachometer{
    display:flex;
    align-items: center;
    justify-items:center;
    width:33%;
    padding:0px;
}
.contentHeader .asset{
    border-bottom: 0px;
}
.chart {
    margin: 0px;
    padding: 0px;
    width:100px;
    height:100px;
    transition: ease all .5s;
}

.chartbox{
    margin: 0px;
    padding: 0px;
    width:100px;
}

.arrow{
    padding: 5px;
}

.glowup{
    padding: 5px;
    color:#85ffed;
    text-shadow: 0px 0px 15px rgba(133, 255, 237,0.6);
}

.glowdown{
    padding: 5px;
    color:rgb(172, 106, 134);
    text-shadow: 0px 0px 15px rgba(172, 106, 134,0.6);
}
.textglow{
    display:flex;
    align-content: flex-start;
}
.textglowup{
    display:flex;
    align-content: flex-start;
    color:#85ffed;
    text-shadow: 0px 0px 15px rgba(133, 255, 237,0.6);
}

.textglowdown{
    display:flex;
    align-content: flex-start;
    color:rgb(172, 106, 134);
    text-shadow: 0px 0px 15px rgba(172, 106, 134,0.6);
}
.assethighlight.dark{
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.assethighlight.light{
    border: 1px solid rgba(46, 0, 0, 0.5);
}
.highlight.dark{
    background-color: rgba(255, 255, 255, 0.3);
}
.highlight.light{
    background-color: rgba(46, 0, 0, 0.3);
}
.highlight.dark .textglowup{
    display:flex;
    align-content: flex-start;
    color:#85ffed;
    text-shadow: 0px 0px 15px rgba(133, 255, 237,0.6);
}

.highlight.dark .textglowdown{
    display:flex;
    align-content: flex-start;
    color:rgb(129, 0, 54);
    text-shadow: 0px 0px 15px rgba(172, 106, 134,0.6);
}



.add{
    padding: 10px;
    margin-bottom: 20px;
    height: fit-content;
    min-width: fit-content;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.122);
}


.details{
    transition: 0.4s;
    background: linear-gradient(rgba(242, 247, 242, 0)0%,rgba(242, 247, 242, 0.12)50%,rgba(242, 247, 242, 0.2)100%);
    transition: .4s;
}
.detail{
    margin-bottom: 0px;
    height: fit-content;
    display:flex;
    justify-content:space-between;
    width: 100%;
    min-width: fit-content;
    scrollbar-width: thin;
    transition: 0.4s;
}
.detail *{
    display: block;
    transition: 0.4s;
}

.detail-left-row{
    width:70%;
    padding:0px 10px 0px 0px;
    transition: 0.4s;
}
.detail-right-row{
    width:30%;
    padding:0px 0px 0px 10px;
    transition: 0.4s;   
}

.detailRows{
    overflow-x: auto;
    scrollbar-width: thin;

}

.detailRow{ 
    padding: 10px;
    height: fit-content;
    display:flex;
    justify-content:space-between;
    width: 100%;
    font-size: 1em;
    min-width: fit-content;
    transition: 0.4s;
}



.detailRow *{
    padding-left: 25px;
    padding-right: 25px;
    min-width: fit-content;
    transition: 0.4s;
    justify-content:center;
    padding:0px;
    display:flex;
}
.detailName{
    justify-content:start;
    min-width: 200px;
    width:200px;
    max-width:200px;
}
.detailDirection{
    min-width: fit-content;
    transition: 0.4s;
    display: flex;
    width:10%;
    align-self: center;
    justify-content:center;
}
.detailAccuracy{
    align-self: center;
    justify-content:center;
    width:10%;
}
.detailHitRatio{
    align-self: center;
    justify-content:center;
    width:10%;
}
.detailEmpty{
    align-self: center;
    justify-content:center;
    width:20%;
}




.light a{
    color: rgba(242, 247, 242, 0.8);
}
.light a:hover{
    color: #fff;
}
.dark a{
    color: rgba(242, 247, 242, 0.6);
}
.dark a:hover{
    color: rgba(242, 247, 242, 1);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}




button{
    padding:7px;
    margin: 7px;
    color:#303136;
    cursor: pointer;
}

button.light{
    outline: none;
    border: none;
    border-radius: 12px;
    background: #e0e0e0;
    box-shadow:  10px 10px 15px #bebebe,
             -10px -10px 15px #ffffff;
    transition: .4s;
}

button.dark{
    backdrop-filter: blur(9px) saturate(0%);
    -webkit-backdrop-filter: blur(9px) saturate(0%);
    background-color: rgba(242, 247, 242, 0.9);
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: .4s;
}

.noAssets{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    font-size: 1.5em;
    padding:50px;
}

@media (max-width: 1440px){
    .assetRow{        
        min-width: 100%;
        scrollbar-width: thin;
        overflow: auto;
        transition: 0.4s;
    }
    .assetPrice{
        padding:5px 10px;
    }

    .content{        
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        transition: .4s;
    }
    .contentHeader{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        transition: .4s;
    }
    .header{        
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        transition: .4s;
    }
    .footer{
        width: 90%;
        padding: 10px;
        margin-left: 5%;
        margin-right: 5%;
        transition: .4s;
    }



}

@media (max-width: 1045px){
    #ticker{
        display: none;
    } 
    .assetSmall{
        padding-left: 0px;
        transition: 0.4s;
    }
    .content{
        padding-top:125px;
        transition: 0.4s;
    }
    .contentHeader{
        margin-top:125px;
        transition: 0.4s;
    }
    .details{
        font-size:0.8em;
        transition: 0.4s;
    }
    .detail-left-row{
        width:100%;
        padding: 0px;
        transition: 0.4s;
    }
    .detail-right-row{
        display:none;
        transition: 0.4s;
    }

    .detailName{
        align-self: start;
        justify-content:start;
        min-width: 20%;
        width:20%;
        max-width:20%;
        transition: 0.4s;
    }
    .detailDirection{
        align-self: start;
        justify-content:center;
        width:10%;
        max-width:10%;
        transition: 0.4s;
    }
    .detailAccuracy{
        align-self: start;
        justify-content:center;
        width:10%;
        max-width:10%;
        transition: 0.4s;
    }
    .detailHitRatio{
        align-self: start;
        justify-content:center;
        width:10%;
        max-width:10%;
        transition: 0.4s;
    }
    .detailDate{
        align-self: start;
        justify-content:end;
        min-width: 20%;
        width:20%;
        max-width:20%;
        transition: 0.4s;
    }
    .assetTachometers *{
        justify-content: center;
        transition: 0.4s;
    }
    .assetTachometers :first-child{
        justify-content: flex-start;
        transition: 0.4s;
    }
    .assetTachometers :last-child{
        justify-content: flex-end;
        transition: 0.4s;
    }
    #texttachometers *{
        justify-content: center;
    }

}


@media (max-width: 800px){
    .content{
        padding:124px 0px;
        transition: 0.4s;
    }
    .contentHeader{
        margin-top:96px;
        transition: 0.4s;
    }
    .assetRow{
        display:block;
        padding: 0px 5px;
        transition: 0.4s;
    }

    .assetData{
        padding-top: 10px;
        width:100%;
        height: fit-content;
        justify-content:space-between;
        transition: 0.4s;
    }
    .assetData * {
        align-self: start;
        transition: 0.4s;
    }
    .assetName{
        width:33%;
        max-width:33%;
        min-width: 33%;
    }
    .assetTimeframe{
        width:33%;
        max-width:33%;
        min-width: 33%;
        font-size: 0.8em;
        transition: 0.4s;
        justify-content:end;
    }
    .assetDirection .fas{
        margin-top: -7px;
        transition: 0.4s;
    }   
    .assetDirection{
        z-index: 2;
        padding: 0px;
        transition: 0.4s;
    } 
 
    .assetPrice{
        width:33%;
        max-width:33%;
        min-width: 33%;
        z-index: 2;
        padding: 0px;
        transition: 0.4s;
        justify-content:center;
    } 

    .assetTachometers{
        width:100%;
        transition: 0.4s;
    }

    .assetName{
        font-size: 0.75em;
        transition: 0.4s;
    }

    #price{
        font-size: 0.8em;
        text-align: center;
    }

    .detailRow{
        padding: 10px 10px 0px 10px;
        transition: 0.4s;
    }
    .detailRows :last-child{
        padding-bottom:10px;
        transition: 0.4s;
    }
    .detailDate{
        display: none;
    }
    #texttachometers{
        display: none;
    }
}



